<ion-content class="body">
  <body>
  <!-- <div>
    <ion-button routerLink="/select-entry" (click)="download()">Mapas Salvos</ion-button>  
    <ion-button id="FileLocal" (click)="takePicture()">Camera</ion-button>
  </div> -->
  <div id="icone" style="text-align: center;">

    <img src="assets/icon/iconeMap.png" alt="icone Map"
    style="display: block; margin-top: 60%; margin-left: 25%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 25%;
    width: 40vw;">

  </div>

    <h3 class="titulo" style="color: #FFFFFF; margin-top: 100%;">Bem Vindo</h3>

  <div>
    <img src="assets/icon/Rectangle 93.png" alt="Rec93"
    style="display: block; margin-top: 57%; margin-left: 25%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 25%;">
  </div>
  
  <div>
    <img src="assets/icon/Vector 6.png" alt="Ellipse"
    style="display: block; margin-top: 34%; margin-left: 29%;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 25%;">
  </div>
  
  <div>
    <img src="assets/icon/Ellipse 22.png" alt="Ellipse"
    style="display: block; margin-top: 32%; margin-left: 8%;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 4%;">
  </div>
  
  <div>
    <img src="assets/icon/Ellipse 28.png" alt="Ellipse"
    style="display: block; margin-top: 21%; margin-left: 56%;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 25%;">
  </div>
  
  <div>
    <img src="assets/icon/Rectangle 97.png" alt="Ellipse"
    style="display: block; margin-top: 105px; margin-left: 40%;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 27%;">
  </div>
  
  <div>
    <img src="assets/icon/Rectangle 98.png" alt="Ellipse"
    style="display: block; margin-top: 121px; margin-left: 35%;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 27%;">
  </div>
  
  <div>
    <img src="assets/icon/Rectangle 96.png" alt="Ellipse"
    style="display: block; margin-top: 123px; margin-left: 33%;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 27%;">
  </div>
  
  <div>
    <img src="assets/icon/Rectangle 95.png" alt="Ellipse"
    style="display: block; margin-top: 124px; margin-left: 26%;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 27%;">
  </div>
  
  <div>
    <img src="assets/icon/Rectangle 102.png" alt="Ellipse"
    style="display: block; margin-top: 122.9px; margin-left: 22%;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 27%;">
  </div>
  
  <div>
    <img src="assets/icon/Rectangle 101.png" alt="Ellipse"
    style="display: block; margin-top: 116px; margin-left: 16%;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 27%;">
  </div>
  
  <div>
    <img src="assets/icon/Ellipse 26.png" alt="Ellipse"
    style="display: block; margin-top: 127px; margin-left: 26%;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 27%;">
  </div>
  
  <div>
    <img src="assets/icon/Ellipse 21.png" alt="Ellipse"
    style="display: block; margin-top: 45%; margin-left: 59%;
    position:absolute;
    transform: translate(-50%, -50%);
    left: 25%;">
  </div>
  
  <div>
    <img src="assets/icon/Ellipse 20.png" alt="Ellipse"
    style="display: block; margin-top: 54%; margin-left: 25%;
    position:absolute;
    width: 234px;
    transform: translate(-50%, -50%);
    left: -45px;">
  </div>
  
  <div class="Rec91" routerLink="/select-entry" (click)="download()">
      <img src="assets/icon/Rectangle 91.png" alt="LER QRCODE">
      <h3 style="display: block; margin-top: 3%; margin-left: 25%;
      position: absolute;
      transform: translate(-15%, -15%);
      left: 2%;
      font-size: x-large;
      cursor: pointer;
      font-family: arial black; color: black;">Ler QR Code</h3>
  </div>
  
  <div class="Rec94" (click)="takePicture()">
      <img src="assets/icon/Rectangle 94.png" alt="IrAoMapa">
      <h3 style="display: block; margin-top: 3%; margin-left: 25%;
      position: absolute;
      transform: translate(-15%, -15%);
      left: 5%;
      font-size: x-large;
      cursor: pointer;
      font-family: arial black; color: black;">Ir ao Mapa</h3>
  </div>
  </body>
 



</ion-content>